DEBUG = True
ALLOWED_HOSTS=['*',]

# CATALOG_QUERY_ENDPOINT = '/search'

# CATALOG_QUERY_ENDPOINT = 'http://localhost:8081/geoportal/elastic/metadata/item/_search/'
CATALOG_SOURCE = 'http://192.168.0.40:9200'
CATALOG_QUERY_ENDPOINT = 'http://localhost:8080/geoportal/elastic/metadata/item/_search/'
ARCGIS_API_KEY = "set in local settings"
