{% extends 'cms/base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block meta %}
  <!--
  The following 2 meta tags *must* come first in the <head>
  to consistently ensure proper document rendering.
  Any other head element should come *after* these tags.
  -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--
  Allows control over where resources are loaded from.
  Place as early in the <head> as possible, as the tag
  only applies to resources that are declared after it.
  -->
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->

  <!-- Theme Color for Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#22408f">

  <!-- Short description of the document (limit to 150 characters) -->
  <!-- This content *may* be used as a part of search engine results. -->
  <meta name="description" content="Discover & contribute valuable data resources to inform ocean planning, policy development and resource management on the Coast of the Pacific Ocean">

  <!-- Control the behavior of search engine crawling and indexing -->
  <meta name="robots" content="index,follow"><!-- All Search Engines -->
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->

  <!-- Tells Google not to show the sitelinks search box -->
  <meta name="google" content="nositelinkssearchbox">
{% endblock meta %}

{% block favicon %}
  <link rel="shortcut icon" href="{% static 'wcoa/img/icons/favicon.png' %}" />
{% endblock favicon %}

{% block body_class %}{{ self.get_verbose_name|slugify }}-page {{ self.slug }}{% endblock %}

{% block thirdparty_css %}
  {{ block.super }}
  <!-- <link rel="stylesheet" href="{% static 'wcoa/css/thirdparty/bootstrap/bootstrap_v2.3.2.css' %}" /> -->
{% endblock %}

{% block extra_css %}
  {{block.super}}
  <!-- <link rel="stylesheet" href="{% static 'wcoa/css/all.css' %}" /> -->
  <link rel="stylesheet" href="{% static 'wcoa/css/header.css' %}" />
  <link rel="stylesheet" href="{% static 'wcoa/css/footer.css' %}" />
  <link rel="stylesheet" href="{% static 'wcoa/css/cms_page.css' %}" />
{% endblock %}

{% block header %}
  <nav class="navbar navbar-default {% block navbar-extra-classes %}navbar-fixed-top{% endblock %}" role="navigation">
      <div class="container">
          {% include 'wcoa/wcoa_site/navbar.html' %}
      </div>
  </nav>
{% endblock %}

{% block content %}
  {% block page_header_container %}{% endblock %}
{% endblock %}

{% block footer_wrap %}
  {% block footer %}
    {% include 'wcoa/wcoa_site/footer.html' %}
  {% endblock %}
{% endblock %}

{% block sticky_footer_wrap %}{% endblock %}
{% block sticky_footer %}{% endblock %} <!-- Sticky footer -->
