{% extends 'cms/base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}{{ self.get_verbose_name|slugify }}-page {{ self.slug }}{% endblock %}

{% block extra_css %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'wcoa/css/thirdparty/bootstrap/bootstrap_v2.3.2.css' %}" />
  <link rel="stylesheet" href="{% static 'wcoa/css/all.css' %}" />
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'wcoa/css/cms_page.css' %}" />
{% endblock %}

{% block header %}
  {% block navbar-extra-classes %}{% endblock %}
  <nav class="navbar navbar-default header container" role="navigation">
    {% include 'wcoa/wcoa_site/navbar.html' %}
  </nav>
{% endblock %}

{% block content %}{% endblock %}

{% block footer_wrap %}
  {% block footer %}
    {% include 'wcoa/wcoa_site/footer.html' %}
  {% endblock %}
{% endblock %}

{% block sticky_footer_wrap %}{% endblock %}
{% block sticky_footer %}{% endblock %} <!-- Sticky footer -->
