{% extends 'cms/base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}{{ self.get_verbose_name|slugify }}-page {{ self.slug }}{% endblock %}

{% block extra_css %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'wcoa/css/thirdparty/bootstrap/bootstrap_v2.3.2.css' %}" />
  <link rel="stylesheet" href="{% static 'wcoa/css/all.css' %}" />
  <link rel="stylesheet" href="{% static 'wcoa/css/cms_page.css' %}" />
{% endblock %}

{% block header %}
  <nav class="navbar navbar-default {% block navbar-extra-classes %}navbar-fixed-top{% endblock %}" role="navigation">
      <div class="container">
          {% include 'wcoa/wcoa_site/navbar.html' %}
      </div>
  </nav>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  <div class="container">
      {% include 'wcoa/wcoa_site/footer.html' %}
  </div>
{% endblock %}

{% block sticky_footer %}{% endblock %} <!-- Sticky footer -->
