{% extends "wcoa/catalog_iframe_page.html" %}
{% load static %}

{% block extra_css %}
  {{ block.super }}
  <!-- CATALOG THEME PAGE -->
  <link rel="stylesheet" href="{% static 'wcoa/css/catalog_theme.css' %}" />
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <!-- TODO: Hide left panel, stretch results panel -->
  <script type="text/javascript" src="{% static 'wcoa/js/catalog_theme.js' %}"></script>
{% endblock %}

        {% block content %}
        <h2>{{ page.theme|title }}</h2>
        <div class="iframe-wrapper">
          <iframe id="page_iframe" src='/geoportal/?esdsl=%7B%22query%22%3A%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22term%22%3A%7B%22sys_approval_status_s%22%3A%22approved%22%7D%7D%5D%7D%7D%2C%7B%22term%22%3A%7B%22user_wcodpcategory_cat.tree%22%3A%22{{ page.theme|lower|urlencode }}%22%7D%7D%5D%7D%7D%7D#searchPanel'></iframe>
        </div>
        {% endblock %}
