{% extends "cms/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <div class="row packery-container">
    {% for block in page.cta_list %}
      {% if block.block_type == 'connection' %}
        <div class="span12">
          <div class="home-item-cntr">
            <div class="home-item-label clearfix">
              <div>{% include_block block %}</div>
            </div>
          </div>
        </div>
      {% else %}
        <ol>
          <li class="block-{{ block.block_type }}">{% include_block block %}</li>
        </ol>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
