{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <div class="container">

    <div class="row">
      {% image page.body_image width-400 %}
      <p>{{ page.body|richtext }}</p>
    </div>

    {% for block in page.cta_list %}
      <div class="row">
        {% if block.block_type == 'connection' %}
          <div class="home-item blue span12">
            <div class="home-item-cntr about">
              <div class="home-item-label inverse clearfix">
                <div>{{ block.value.cta_title }}</div>
              </div>
              <div>
                <p>{{ block.value.cta_content }}</p>
              </div>
              <div>
                <p><a href="{{ block.value.cta_link }}">{{ block.value.cta_link }}</a></p>
              </div>
            </div>
          </div>
        {% else %}
          <div class="home-item white span12">
            <div class="home-item-cntr learn-more">
              <p>{% include_block block %}</p>
              <hr />
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
