{% extends 'wcoa/wcoa_site/cms_page.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for block in page.body %}
        {% if block.block_type == 'item' %}
          {% image block.value.background_image max-500x500 as bg_img %}
          <div class="span{{ block.value.width }} bg-{{ block.value.background_color }} text-{{ block.value.text_color }} home-item cta-item-wrap" style="background-image: url({{ bg_img.url }});">
            <div class="home-item-cntr cta-item">
              <a href="{{ block.value.url }}">
                {% if block.value.cta_title %}
                  <div class="home-item-label clearfix">
                    <p><span class="title">{{ block.value.cta_title }}</span></p>
                  </div>
                {% endif %}
                <div class="cta-content">
                  {{ block.value.cta_content }}
                </div>
              </a>
            </div>
          </div>
        {% else %}
          <div class="home-item span12">
            <div class="home-item-cntr learn-more">
              <p>{% include_block block %}</p>
              <hr />
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
