{% extends 'wcoa/wcoa_site/cms_page.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
  {% if self.slug == 'home' %}
    <div class="row packery-container">
      <div class="span4 bg-red home-item cta-item-wrap" id="record-search">
        <div class="home-item-cntr cta-item">
          <div class="giantText" id="record-count">Loading...</div>
  				<p>registered resources</p>
          <form action="" id="search-form">
  					<div id="search-filter">
  						<input type="search" placeholder="SEARCH" id="search-text">
  						<button type="submit"><img src="{% static 'wcoa/img/icons/black_search.png' %}" /></button>
  					</div>
  				</form>
        </div>
      </div>
      <script type="text/javascript">
        CATALOG_QUERY_ENDPOINT="{{CATALOG_QUERY_ENDPOINT}}";
      </script>
  {% else %}
    <script type="text/javascript">
      CATALOG_QUERY_ENDPOINT=false;
    </script>
    <div class="row">
  {% endif %}

    {% for block in page.body %}
      {% if block.block_type == 'row' %}
        </div> <!-- end previous row -->
        <div class="row"> <!-- start new row -->
      {% elif block.block_type == 'item' %}
        {% image block.value.background_image max-500x500 as bg_img %}
        <div class="{% if block.value.width %}span{{ block.value.width }}{% endif %} {% if block.value.background_color %}bg-{{ block.value.background_color }}{% endif %} {% if block.value.text_color %}text-{{ block.value.text_color }}{% endif %} home-item cta-item-wrap" style="{% if block.value.background_image %}background-image: url({{ bg_img.url }});{% endif %}">
          <div class="home-item-cntr cta-item">
            {% if block.value.url %}
            <a href="{{ block.value.url }}">
            {% endif %}
              {% if block.value.cta_title %}
              <div class="home-item-label clearfix">
                <p><span class="title">{{ block.value.cta_title }}</span></p>
              </div>
              {% endif %}
              {% if block.value.cta_content %}
              <div class="cta-content">
                {{ block.value.cta_content|richtext }}
              </div>
              {% endif %}
            {% if block.value.url %}
            </a>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="home-item span12">
          <div class="home-item-cntr learn-more">
            <p>{% include_block block %}</p>
            <hr />
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block extra_css %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'wcoa/css/thirdparty/bootstrap/bootstrap_v2.3.2.css' %}" />
{% endblock %}
