{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block content %}
  <div class="row packery-container">
    {% for block in page.body %}
      {% if block.block_type == 'brick' %}
          <div class="{% cycle 'span8' 'span4' 'span4' 'span5' 'span3' 'span8' 'span4' %}">
            <h2>{{ block.value.title }}</h2>
          </div>
      {% else %}
        <ol>
          <li class="block-{{ block.block_type }}">{% include_block block %}</li>
        </ol>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
