{% extends 'wcoa/ohi/ohi_base.html' %}
{% load wagtailcore_tags wagtailcharts_tags wagtailimages_tags static %}

{% block body_class %}template-ohi-indicator-page{% endblock %}

{% block ohi_title %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    {% if page.img.file.url %}
                        <img src="{{ page.img.file.url }}" alt="{{ page.title }}" class="ohi-indicator-icon">
                    {% endif %}
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock ohi_title %}

{% block ohi_content %}
    <div class="container">
        <div class="row">
            <div class="grid-wrapper">
                {% for block in page.body %}
                    {% if block.block_type == 'Clear' %}
                        <div class="grid-item clearfix"></div>
                    {% else %}
                        {{ block }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock ohi_content %}

{% block extra_js %}
{% comment %} Add compiled guage JS file here {% endcomment %}
<script src="{% static 'wagtailcharts/js/chart-types.js' %}"></script>
<script src="{% static 'wagtailcharts/js/chart.js' %}"></script>
<script src="{% static 'wagtailcharts/js/stacked-100.js' %}"></script>
<script src="{% static 'wagtailcharts/js/chartjs-plugin-datalabels.min.js' %}"></script>
<script>Chart.register(ChartjsPluginStacked100.default);</script>
<script src="{% static 'wagtailcharts/js/wagtailcharts.js' %}"></script>

{% endblock %}