{% extends "wcoa/cms/section.html" %}
{% load static %}

{% block extra_css %}
  {{ block.super }}
  {% include "ocean_stories/extra_css.html" %}
  <link rel="stylesheet" href="{% static 'wcoa/css/ocean_story.css' %}" type="text/css">
{% endblock %}

{% block navbar-extra-classes %}navbar-fixed-top{% endblock %}

{% block header %}
    {{ block.super }}
    {% include "ocean_stories/header.html" %}
{% endblock %}


{% block content %}
    {% include "ocean_stories/content.html" %}
{% endblock %}

{% block nav_footer %}
 {% include "ocean_stories/ocean_story_nav.html" %}
{% endblock %}

{% block extra_js %}
  {% include "ocean_stories/extra_js.html" %}
  <script type="text/javascript" src="{% static 'wcoa/js/ocean_stories/curtain.js' %}"></script>
  <script type="text/javascript" src="{% static 'wcoa/js/ocean_stories/scroll_spy.js' %}"></script>
{% endblock %}
