body {
  background-color: #fff;
}

hr {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #eee;
}

/**
 * Header and Navbar
 * =================
 */

header {
  padding-bottom: 0;
}

nav .dropdown:not(.search-dropdown) .dropdown-menu > li > a {
  color: #22408f;
}

@media (min-width: 992px) {
  .navbar .brand,
  .navbar-collapse {
    padding: 0;
  }

  .navbar-header a {
    display: block;
    position: relative;
    z-index: 2;
  }

  .dropdown:not(.search-dropdown) .dropdown-menu {
    background-color: transparent;
    border: none;
    box-shadow: none;
    display: block;
    margin: 0;
    padding: 0;
    top: 0;
    min-width: 0;
  }

  .navbar .nav {
    margin-right: 0;
    margin-top: 60px;
  }

  .navbar-right .dropdown:not(.search-dropdown) .dropdown-menu {
    right: auto;
  }

  nav .dropdown:not(.search-dropdown) .dropdown-menu > li > a,
  .navbar-default .navbar-nav > li > a {
    color: #132451;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.75;
  }

  nav .dropdown:not(.search-dropdown) .dropdown-menu > li > a:hover,
  nav .dropdown:not(.search-dropdown) .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    background-image: none;
    color: #9ec73d;
  }

  .top-nav li {
    margin-left: 40px;
  }

  .nav > .dropdown:not(.search-dropdown) > a.dropdown-toggle {
      visibility: hidden;
      height: 0;
      padding: 0;
  }

  .navbar .nav > .dropdown:not(.search-dropdown) > .dropdown-menu:before,
  .navbar .nav > .dropdown:not(.search-dropdown) > .dropdown-menu:after {
    display: none;
  }

  .search-dropdown .dropdown-menu {
    position: absolute;
  }
}

/**
 * Core Elements
 * =============
 */

.container {
  padding-left: 0;
  padding-right: 0;
}

.packery-container {
  padding-left: 5px;
  padding-right: 5px;
}

.container .row {
  margin: 0 -30px;
}

/**
 * Rich Text Properties
 * ====================
 */

.rich-text {
  overflow: hidden;
}

.richtext-image.right {
  float: right;
}

.richtext-image.left {
  float: left;
}

/**
 * Page Properties
 * ===============
 */

.home .cta-item .richtext-image.right {
  bottom: 10px;
  position: absolute;
  right: 10px;
  max-width: 30px;
}

.home .cta-item input {
  height: 28px;
}

.cta-content h3 {
  color: #fff;
  font-family: OpenSans, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  line-height: 45px;
  margin: 0;
  word-wrap: break-word;
}

.home-item,
.cta-item-wrap {
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-item p:first-child {
  /* margin-top: 30px; */
}

.cta-item .rich-text,
.cta-item .rich-text p {
  font-weight: 200;
  font-size: 1.14285em;
  line-height: 2.25;
  font-family: OpenSans, sans-serif;
  word-wrap: break-word;
}

.cta-item a {
  font-weight: normal;
}

.cta-item a:hover {
  text-decoration: none;
}

.cta-item .title {
  border-bottom: #9ec73d 2px solid;
  font-family: "PtMono", "Courier New", Courier, monospace;
  font-size: 1em;
  line-height: 1.75;
}

@media (min-width: 1200px) {
  .home .cta-item-wrap {
    margin-bottom: 20px;
    padding: 15px 30px 15px 30px;
  }

  .home .cta-item {
    padding: 0;
  }

  .home #record-search,
  .home .packery-container > .home-item:nth-of-type(3),
  .home .packery-container > .home-item:nth-of-type(7) {
    float: right;
    margin: 0 30px 20px 0;
  }

  .home #record-search {
    height: 170px;
  }

  .home .packery-container > .home-item:nth-of-type(7) {
    margin-top: -145px;
  }

  .home .packery-container > .home-item:nth-of-type(2) {
    height: 320px;
  }

  .home .packery-container > .home-item:nth-of-type(6) {
    height: 125px;
  }

  .home .packery-container > .home-item:nth-of-type(3) h3,
  .home .packery-container > .home-item:nth-of-type(5) h3,
  .home .packery-container > .home-item:nth-of-type(6) h3,
  .home .packery-container > .home-item:nth-of-type(7) h3 {
    color: #fff;
  }

  .home #record-search .giantText {
    font-size: 50px;
    line-height: 55px;
    color: #332e1f;
    font-weight: bold;
  }

  .home .cta-item .title {
    border-bottom-color: #332e1f;
    color: #332e1f;
    text-transform: uppercase;
  }

  .cta-item {
    padding: 38px 50px 40px 50px;
  }

}

/**
 * Connect Page
 * ============
 */

.connect-page .cta-row {
  margin-bottom: 40px;
}

.connect-page .cta-row .cta-item-wrap {
  text-align: center;
  padding: 15px 10px;
  word-spacing: 3px;
}

.connect-page .cta-row .cta-item-wrap h3 {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}

.connect-page .body-image {
  margin-bottom: 40px;
}

.connect-page .body-image img {
  float: right;
  margin: 20px;
}

.connect-page .body-image h3 {
  color: #333;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}

.connect-page .body-image p {
  color: #333;
  font-family: OpenSans, sans-serif;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.75;
}

.connect-page .body-image a {
  color: #0070cf;
}

.connect-page .body-image .rich-text {
  overflow: visible;
}

.block-details .cta-item {
  padding: 0 40px;
}

.block-details .cta-content {
  padding: 30px 20px 0;
}

.block-details .cta-content a {
  color: #0070cf;
}

.block-details p {
  color: inherit;
}

/**
 * Variable Colors - set in CMS
 * ============================
 */

.cta-item-wrap.text-white,
.cta-item-wrap.text-white * {
  color: #fff;
}

.cta-item-wrap.text-blue {
  color: #0070cf;
}

.cta-item-wrap.text-red {
  color: #ff3817;
}

.cta-item-wrap.text-green {
  color: #baba27;
}

.cta-item-wrap.text-grey {
  color: #999;
}

.cta-item-wrap.text-purple {
  color: #ba1e47;
}

.cta-item-wrap.text-black {
  color: #332e1f;
}

/**
 * Variable Background Color - set in CMS
 * ======================================
 */

 .cta-item-wrap.bg-white {
   background-color: #fff;
 }

 .cta-item-wrap.bg-blue {
   background-color: #0070cf;
 }

 .cta-item-wrap.bg-red {
   background-color: #ff3817;
 }

 .cta-item-wrap.bg-green {
   background-color: #baba27;
 }

 .cta-item-wrap.bg-grey {
   background-color: #999;
 }

 .cta-item-wrap.bg-purple {
   background-color: #ba1e47;
 }

 .cta-item-wrap.bg-black {
   background-color: #332e1f;
 }
