html * {
  box-sizing: content-box;
}

header {
  padding-bottom: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.packery-container {
  padding-left: 0;
}

.container .row {
  margin: 0 -30px;
}

/**
 * Rich Text Properties
 * ====================
 */

.rich-text {
  overflow: hidden;
}

.richtext-image.right {
  float: right;
}

.richtext-image.left {
  float: left;
}

/**
 * Page Properties
 * ===============
 */

.home #record-search {
  float: right;
  margin: 0 30px 0 0;
}

.home #record-search .giantText {
  font-size: 50px;
  line-height: 55px;
  color: #332e1f;
  font-weight: bold;
}

.home .cta-item .title {
  border-bottom-color: #332e1f;
  color: #332e1f;
  text-transform: uppercase;
}

.cta-content h3 {
  color: #fff;
  font-family: OpenSans, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  line-height: 45px;
  margin: 0;
  word-wrap: break-word;
}

.home-item,
.cta-item-wrap {
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-item {
  padding: 38px 50px 40px 50px;
}

.cta-item p:first-child {
  /* margin-top: 30px; */
}

.cta-item .rich-text,
.cta-item .rich-text p {
  font-weight: 200;
  font-size: 1.14285em;
  line-height: 2.25;
  font-family: OpenSans, sans-serif;
  word-wrap: break-word;
}

.cta-item a {
  font-weight: normal;
}

.cta-item .title {
  border-bottom: #9ec73d 2px solid;
  font-family: "PtMono", "Courier New", Courier, monospace;
  font-size: 1em;
  line-height: 1.75;
}

/**
 * Variable Colors - set in CMS
 * ============================
 */

.cta-item-wrap.text-white {
  color: #fff;
}

.cta-item-wrap.text-blue {
  color: #0070cf;
}

.cta-item-wrap.text-red {
  color: #ff3817;
}

.cta-item-wrap.text-green {
  color: #baba27;
}

.cta-item-wrap.text-grey {
  color: #999;
}

.cta-item-wrap.text-purple {
  color: #ba1e47;
}

.cta-item-wrap.text-black {
  color: #332e1f;
}

/**
 * Variable Background Color - set in CMS
 * ======================================
 */

 .cta-item-wrap.bg-white {
   background-color: #fff;
 }

 .cta-item-wrap.bg-blue {
   background-color: #0070cf;
 }

 .cta-item-wrap.bg-red {
   background-color: #ff3817;
 }

 .cta-item-wrap.bg-green {
   background-color: #baba27;
 }

 .cta-item-wrap.bg-grey {
   background-color: #999;
 }

 .cta-item-wrap.bg-purple {
   background-color: #ba1e47;
 }

 .cta-item-wrap.bg-black {
   background-color: #332e1f;
 }
