body {
  background-color: #fff;
}

hr {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #eee;
}

/**
 * Core Elements
 * =============
 */

.packery-container {
  font-size: .75em;
  padding-left: 0;
  margin: 0;
 /* padding-right: 0; */
}

@media (min-width: 992px) {
  .packery-container {
    font-size: .875em;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .packery-container {
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
  }

  .container .row {
    margin: 0 -20px;
    /* padding: 0; */
  }

  .footer [class*="span"] {
    margin-left: 0;
  }
}

/**
 * Header and Navbar
 * =================
 *  SEE header.css
 */

/**
 * Rich Text Properties
 * ====================
 */

.rich-text {
  overflow: hidden;
}

.richtext-image.right {
  float: right;
}

.richtext-image.left {
  float: left;
}

.cta-item .rich-text li {
  font-size: .875em;
  font-weight: 400;
  margin-left: 20px;
}

.cta-item .rich-text li a {
  color: #132451;
  font-family: PtMono,"Courier New",Courier,monospace;
}

.cta-item .rich-text li a:hover,
.cta-item .rich-text li a:active,
.cta-item .rich-text li a:focus {
  color: #9ec73d;
}

/**
 * Page Properties
 * ===============
 */

.home .cta-item-wrap:nth-of-type(3) .title,
.home .cta-item-wrap:nth-of-type(1n+5) .title {
  color: #fff;
  border-bottom-color: #fff;
}

.home .cta-item .richtext-image.right {
  bottom: 10px;
  position: absolute;
  right: 10px;
  max-width: 30px;
}

.home form button {
  border: none;
  height: 28px;
  float: right;
  position: relative;
  width: 20%;
}

.home .rich-text p a[href*="/"] {
  background: white;
  background: rgba(252, 252, 252, 0.75);
  display: block;
  font-size: .6875em;
  max-width: 350px;
  padding: 10px;
  margin: 10px;
  font-family: OpenSans, sans-serif;
  color: black;
  text-shadow: 0px 0px 2px #ffffff;
  font-weight: bold;
  /* padding-left: 27px; */
  line-height: 1.5em;
}
.home .rich-text p a[href*="/"]:hover {
  background: #eee;
  background: rgba(230, 230, 230, 0.9);
  cursor: pointer;
  color: black;
}
.home .rich-text p a[href*="/"] i {
  margin-left: -15px;
}

.home .cta-item input {
  height: 28px;
}

.home #record-search .giantText {
  font-size: 3.125em;
  line-height: 1.125em;
  color: #332e1f;
  font-weight: bold;
}

.cta-content h3 {
  color: #fff;
  font-family: OpenSans, sans-serif;
  font-size: 1.8125em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25em;
  margin: 0;
  word-wrap: break-word;
}

.home-item,
.cta-item-wrap {
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-item p:first-child {
  /* margin-top: 30px; */
}

.cta-item .rich-text,
.cta-item .rich-text p {
  font-weight: 200;
  font-size: 1.14285em;
  line-height: 2.25;
  font-family: OpenSans, sans-serif;
  word-wrap: break-word;
}

.cta-item a {
  color: #132451;
  font-weight: normal;
}

.cta-item a:hover,
.cta-item a:active,
.cta-item a:focus {
  color: #9ec73d;
  text-decoration: none;
}

.cta-item .title {
  border-bottom: #9ec73d 2px solid;
  font-family: "PtMono", "Courier New", Courier, monospace;
  font-size: 1em;
  line-height: 1.75;
}

@media (min-width: 992px) {

  .home .cta-item-wrap {
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 15px 30px 15px 30px;
  }

  .home .cta-item {
    padding: 0;
  }

  .home #record-search,
  .home .packery-container > .home-item:nth-of-type(3),
  .home .packery-container > .home-item:nth-of-type(7) {
    /* float: right; */
    margin: 0 0px 0px 0;
  }

  .home #record-search {
    height: 170px;
  }

  .home .packery-container > .home-item:nth-of-type(7) {
    /* margin-top: -150px; */
    margin: 0;
  }

  .home .packery-container > .home-item:nth-of-type(2) {
    height: 320px;
  }

  .home .packery-container > .home-item:nth-of-type(7) {
    height: 125px;
  }

  .home .packery-container > .home-item:nth-of-type(3) h3,
  .home .packery-container > .home-item:nth-of-type(5) h3,
  .home .packery-container > .home-item:nth-of-type(6) h3,
  .home .packery-container > .home-item:nth-of-type(7) h3 {
    color: #fff;
  }

  .home .cta-item .title {
    border-bottom-color: #332e1f;
    color: #332e1f;
    text-transform: uppercase;
  }

  .cta-item {
    padding: 38px 50px 40px 50px;
  }
}

@media (min-width: 1200px) {
  .home .span3 {
    width: 290px;
  }

  .home .container .row {
    padding: 0 20px;
  }

  .home .content .container .row {
    margin: 0 -10px;
  }

  .cta-content h3 {
    font-size: 2.25em;
  }
}

/**
 * Connect Page
 * ============
 */

.connect-page .cta-row,
.connect .cta-row  {
  margin-bottom: 40px;
}

.connect-page .cta-row .cta-item-wrap,
.connect .cta-row .cta-item-wrap  {
  text-align: center;
  padding: 15px 10px;
  word-spacing: 3px;
}

.connect-page .cta-row .cta-item-wrap h3,
.connect .cta-row .cta-item-wrap h3  {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}

.connect-page .body-image,
.connect .body-image  {
  margin-bottom: 40px;
}

.connect-page .body-image img,
.connect .body-image img  {
  float: right;
  margin: 20px;
}

.connect-page .body-image h3,
.connect .body-image h3  {
  color: #333;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}

.connect-page .body-image p,
.connect .body-image p  {
  color: #333;
  font-family: OpenSans, sans-serif;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.75;
}

.connect-page .body-image a,
.connect .body-image a  {
  color: #0070cf;
}

.connect-page .body-image .rich-text,
.connect .body-image .rich-text  {
  overflow: visible;
}

.block-details .cta-item {
  padding: 0 40px;
}

.block-details .cta-content {
  padding: 30px 20px 0;
}

.block-details .cta-content a {
  color: #0070cf;
}

.block-details p {
  color: inherit;
}

.cta-item-wrap[class*='text-'] * {
  color: inherit;
}

/**
 * Variable Colors - set in CMS
 * ============================
 */

.cta-item-wrap.text-white,
.cta-item-wrap.text-white * {
  color: #fff;
}

.cta-item-wrap.text-blue {
  color: #0070cf;
}

.cta-item-wrap.text-red {
  color: #ff3817;
}

.cta-item-wrap.text-green {
  color: #baba27;
}

.cta-item-wrap.text-grey {
  color: #999;
}

.cta-item-wrap.text-purple {
  color: #ba1e47;
}

.cta-item-wrap.text-black {
  color: #332e1f;
}

/**
 * Variable Background Color - set in CMS
 * ======================================
 */

 .cta-item-wrap.bg-white {
   background-color: #fff;
 }

 .cta-item-wrap.bg-blue {
   background-color: #0070cf;
 }

 .cta-item-wrap.bg-red {
   background-color: #ff3817;
 }

 .cta-item-wrap.bg-green {
   background-color: #baba27;
 }

 .cta-item-wrap.bg-grey {
   background-color: #999;
 }

 .cta-item-wrap.bg-purple {
   background-color: #ba1e47;
 }

 .cta-item-wrap.bg-black {
   background-color: #332e1f;
 }

/*
 * grid pages
 */
 /* RDH: This prevents the hover style from ending underneath the header */
 .grid-view > .detail:hover {
     padding-top: 5px;
     margin-top: 5px;
 }

 div.grid-view div.badge {
   background-color: #0070cf;
   border: 2px solid #22408f; /* carryover from MidA styles, looks nice! */
   color: white;
 }
