/**
 * Header and Navbar
 * =================
 */

header {
  padding-bottom: 100px;
}

nav.navbar-fixed-top {
  height: 100px;
}

.navbar .brand {
  float: none;
  height: 100px;
}

.navbar-brand img {
  height: auto;
  max-height: 100px;
  position: relative;
  margin-left: 16px;
  margin-top: 0;
  top: 0;
  max-width: 250px;
}

header + div {
  min-height: 0;
  padding-top: 2rem;
}


.navbar .nav li.dropdown > .dropdown-toggle .caret {
  padding-bottom: 1rem;
}

/* ----------------
 * pulled from all.css
 * ----------------*/

.header .description {
  font-size: 11px;
  margin-top: 42px;
  margin-bottom: 6px;
}
.top-nav {
  border-top: #a6a6a6 2px solid;
  border-bottom: #a6a6a6 2px solid;
  margin-left: 20px;
}
.top-nav ul {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 17px;
  /* position: relative; */
}
.top-nav li {
  margin-left: 70px;
}
@media (max-width: 1199px) {
  .top-nav li {
    margin-left: 40px;
  }
}
.top-nav li:first-child {
  margin-left: 0;
}
.top-nav a {
  color: #332e1f;
  text-transform: uppercase;
}
/* when hovering over a nav item, desaturate all others */
.top-nav ul:hover a {
  color: #999999;
}
.top-nav ul a:hover {
  color: #332e1f;
}
.top-nav li.active {
  position: relative;
}
.top-nav li.active img {
  position: absolute;
  top: 22px;
  left: 30px;
}
.top-nav li.active.about img {
  left: 20px;
}
.top-nav li.active.inform img {
  left: 25px;
}
.top-nav-mobile {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* ----------------
 * pulled from cms_page.css
 * ----------------*/

.navbar-brand {
  height: 0;
}

nav .dropdown:not(.search-dropdown) .dropdown-menu > li > a {
  color: #132451;
}

.toggle-button {
  border: none;
  margin-right: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}

.navbar .nav {
  margin-right: 0;
  margin-top: 25px;
  float: right;
  background-color: white;
}

.navbar .brand,
.navbar-collapse {
  padding: 0;
}

.navbar-header a {
  display: block;
  position: relative;
  z-index: 2;
}

/* .dropdown:not(.search-dropdown) .dropdown-menu {
  background-color: transparent;
  border: none;
  box-shadow: none;
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  min-width: 0;
} */

.navbar-right .dropdown:not(.search-dropdown) .dropdown-menu {
  right: auto;
}

nav .dropdown:not(.search-dropdown) .dropdown-menu > li > a,
.navbar-default .navbar-nav > li > a {
  color: #132451;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.375em;
  padding: 10px 15px;
}

nav .dropdown:not(.search-dropdown) .dropdown-menu > li > a:hover,
nav .dropdown:not(.search-dropdown) .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
  background-image: none;
  color: #9ec73d;
}

.top-nav li {
  margin-left: 10px;
}

/* .nav > .dropdown:not(.search-dropdown) > a.dropdown-toggle {
    visibility: hidden;
    height: 0;
    padding: 0;
} */

.navbar .nav > .dropdown:not(.search-dropdown) > .dropdown-menu:before,
.navbar .nav > .dropdown:not(.search-dropdown) > .dropdown-menu:after {
  display: none;
}

.search-dropdown .dropdown-menu {
  position: absolute;
}

.home .cta-item-wrap {
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 10px;
}

@media (min-width: 992px) {
  .navbar .nav {
    margin-right: 10px;
  }

  .home .cta-item-wrap {
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 15px 30px 15px 30px;
  }
}

@media (min-width: 768px) {
  nav.navbar div.container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  nav .dropdown:not(.search-dropdown) .dropdown-menu > li > a,
  .navbar-default .navbar-nav > li > a {
    font-size: 1.5rem;
  }

  .top-nav li {
    margin-left: 40px;
  }

  .top-nav .dropdown-menu li {
    margin-left: 0;
  }

  nav.navbar div.container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  nav.navbar div.container {
    width: 1170px;
  }
}

@media (max-width: 991px) {

  div.navbar-collapse.collapse {
    position: static;
  }

  div.navbar-collapse.collapsing ul.nav {
    position: fixed;
  }
  div.navbar ul.nav > li {
    float: unset;
  }

  .navbar ul.nav {
    width: 25vw;
    min-width: 150px;
    position: absolute;
    right: 0;
    margin-top: 0;
    left: auto;
    border-left: #a6a6a6 2px solid;
  }

  .top-nav li {
    margin-left: 0;
    float: unset !important;
  }
  span.oversized {
    width: 0;
  }

  .navbar-fixed-top .navbar-collapse {
    max-height: none;
  }

  .navbar-nav .open ul.dropdown-menu {
    position: absolute;
    background-color: #EEE;
    display: contents;
  }

  .navbar-nav .open ul.dropdown-menu li {
    background-color: #EEE;
    padding-left: 1em;
  }

  .navbar-nav .open ul.dropdown-menu li:hover {
    background-color: #DDD;
  }

  .navbar .nav li.dropdown > .dropdown-toggle .caret {
    padding-bottom: 0.4rem;
  }

}
