h1, h2, h3, h4 {
    text-align: center;
    width: 100%;
}

h2, h3, h4, h5 {
    font-weight: 600;
}

.icon {
    max-width: 120px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.grid-item.clearfix {
    grid-column: span 12;
}

.grid-sub-item {
    padding: 10px;
    width: 100%;
}

#ohi-hierarchy {
    background-color: rgba(0, 0, 255, 0.2);
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin: 0 auto;
    width: 100%;
}

.ohi-category-item {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    margin: 0 auto;
    /* width: 100%; */
}

.ohi-class-list {
    align-items: start;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: stretch;
    margin: 0 auto;
    width: 100%;
}

.ohi-class-item {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    margin: 0 auto;
    /* width: 100%; */
}

.ohi-indicator-list {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    margin: 0 auto;
    width: 100%;
}

.ohi-indicator-item {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    margin: 0 auto;
    width: 100%;
}


