:root {
    --default_font_family: "Nunito Sans", "Open Sans", sans-serif;
    --bold_font_family: var(--default_font_family);
    --generic_font_family: var(--default_font_family);
   
    /* Colors */
    --blue: rgba(48, 112, 247, 1);
    --green: rgba(152, 171, 55, 1);
    --red: rgba(250, 35, 18, 1);
    --yellow: rgba(242,191,76,1);
    --grey: rgba(77,77,79,1);
    --gray: var(--grey);
    --white: rgba(255,255,255,1);
    --black: rgba(0,0,0,1);

    --primary_color: var(--blue);
    --secondary_color: var(--green);
    --tertiary_color: var(--red);
    --text-color: var(--grey);
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: var(--bold_font_family);
}

h1 {
    font-weight: 900;
}

h2,  h3  {
    font-weight: 700;
}

h4, h5 {
    font-weight: 600;
}

.icon {
    max-width: 120px;
}

.grid-wrapper {
    display: block;
    width: 100%;
}

.grid-item.clearfix {
    display: block;
    width: 100%;
}

@media screen and (min-width: 960px) {

    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;
    }

    .grid-item.clearfix {
        grid-column: span 12;
    }

    .grid-sub-item {
        padding: 10px;
        width: 100%;
    }

}

#ohi-hierarchy {
    background-color: rgba(0, 0, 255, 0.2);
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin: 0 auto;
    width: 100%;
}

.ohi-category-item {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    margin: 0 auto;
    /* width: 100%; */
}

.ohi-class-list {
    align-items: start;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: stretch;
    margin: 0 auto;
    width: 100%;
}

.ohi-class-item {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    margin: 0 auto;
    /* width: 100%; */
}

.ohi-indicator-list {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    margin: 0 auto;
    width: 100%;
}

.ohi-indicator-item {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    margin: 0 auto;
    width: 100%;
}


