/* TODO SECTION */

header {
  padding-bottom: 0;
}

/* END TODO SECTION */

/* Scrollbar Section */
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 0.5rem;
  /* border-bottom-right-radius: 1rem; */
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1;  */
  background: transparent;
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* END Scrollbar Section */

body.template-visualize #primary-content,
header + div {
  /* height: 100vh; */
}

body.template-visualize #left-panel {
  background-color: white;
  border-radius: 1rem;
  margin-left: 1rem;
  top: 1rem;
  bottom: 25px;
  height: unset;
}

body.template-visualize .tab-content .tab-pane,
body.template-visualize #data-panel,
body.template-visualize #left-panel #myTabContent,
body.template-visualize #left-panel .sidebar-nav,
body.template-visualize #left-panel .panel-heading {
  background-color: inherit;
}

body.template-visualize #left-panel .panel-heading {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

body.template-visualize .tab-content .tab-pane,
body.template-visualize #data-panel,
body.template-visualize #left-panel #myTabContent,
body.template-visualize #left-panel .sidebar-nav {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

body.template-visualize #left-panel .panel-heading {
  height: auto;
}

body.template-visualize #left-panel .panel-title{
  text-align: center;
  margin-bottom: -1.5rem;
}

body.template-visualize #left-panel #myTab h4 {
  font-size: 16px;
}

body.template-visualize #left-panel .panel-title > a {
    float: unset;
    color: unset;
    background-color: transparent;
    border-radius: 0;
    width: auto;
    height: auto;
    padding-left: unset;
    padding-top: unset;
    text-align: unset;
}

body.template-visualize .open > .dropdown-menu {
  border-top: 1px solid rgba(0,0,0,0.15);
  box-shadow: rgba(0,0,0,0.176) 0px 6px 12px 0px;
  position: absolute;
}

body.template-visualize .sublayer-dropdown {
  width: 96%;
}

body.template-visualize .checkbox-sublayer-toggle-title {
  padding-left: 0;
}

body.template-visualize .sublayer-status {
  /* position: relative; */
  right: auto;
}

/* ul.filter-options li > i, span > i */
body.template-visualize .sublayer-status i {
  margin-right: 0.1rem;
}

body.template-visualize .sublayer-title {
  padding-left: 2rem;
  text-indent: 0;
  padding-right: 0;
}

/* body.template-visualize #left-panel .panel-title > a.collapse-button {
    float: right;
    color: white;
    background-color: #00a564;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding-left: 1px;
    padding-top: 2px;
    text-align: center;
} */

#left-panel-project-logo {
  width: 252px;
  height: 136px;
  display: initial;
  margin-left: 35px;
  top: -1rem;
}

body.template-visualize .panel.collapsible.collapsed {
}

body.template-visualize #left-panel.panel.collapsible.collapsed {
  height: unset !important;
}
body.template-visualize #left-panel.panel.collapsible.collapsed {
  height: 45px !important;
}

body.template-visualize #left-panel .panel-body {
    height: unset;
    padding: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*
#myTab li[data-tab='designs'] {
  display: none;
}
*/
body.template-visualize .sidebar-nav .nav-tabs > li {
  padding: 0px 10px 0px 10px;
}

body.template-visualize #map-controls .quick-button{
  border: 1px solid #58585b;
  border-radius: 2px;
  height: 30px;
  line-height: 30px;
  margin: 1px;
  right: 0;
  padding: 0;
  width: 30px;
}

body.template-visualize #map .ol-zoom {
  bottom: 42px;
  top: auto;
}

.ol-scale-line {
  background-color: rgba(0,60,136,0.3);
}

.ol-scale-line-inner {
  color: rgb(238,238,238);
  /* border-color: currentcolor; */
  border: 2px solid currentcolor;
  border-top: none;
  font-weight: bold;
}

body.template-visualize .feedback-button {
  border-color: rgba(117, 137, 155, 1);
  border-bottom: none;
}
