:root {
    --badge_border: black;
    --warning_icon: darkorange;
    --dark_blue: #132451;
    --light_blue: #0070cf;
}

/* Header Overrides */
/* when hovering over a nav item, desaturate all others */
.top-nav ul:hover a {
    color: #999999;
  }
  .top-nav ul a:hover {
    color: #332e1f;
  }


/* CMS_PAGE OVERRIDES */

.cta-item .rich-text li a {
    font-family: PtMono,"Courier New",Courier,monospace !important;
}

.cta-item a {
    color: #132451;
    font-weight: normal;
}

.cta-item a:hover,
.cta-item a:active,
.cta-item a:focus {
    color: #9ec73d;
    text-decoration: none;
}

.cta-item .title {
    border-bottom: #9ec73d 2px solid;
    font-family: "PtMono", "Courier New", Courier, monospace;
    font-size: 1em;
    line-height: 1.75;
}
  
.cta-item-wrap[class*='text-'] * {
    color: inherit;
}

.tooltip.fade.right.in .tooltip-arrow {
    border-right-color: var(--badge_border);
}

.tooltip.fade.left.in .tooltip-arrow {
    border-left-color: var(--badge_border);
}

.tooltip.fade.top.in .tooltip-arrow {
    border-top-color: var(--badge_border);
}

.tooltip.fade.bottom.in .tooltip-arrow {
    border-bottom-color: var(--badge_border);
}

.tooltip-inner {
    background-color: var(--badge_border);
}

i.btn-user-gen {
    color: var(--warning_icon);
}

#user-content-notice {
    background-color: var(--dark_blue);
    opacity: 85%;
}

body.template-visualize #map-controls #linear-measurement:hover,
body.template-visualize #map-controls .quick-button:hover {
    border: 2px solid var(--light_blue);
    color: var(--light_blue);
}

body.template-visualize #left-panel a:hover {
    color: var(--light_blue);
}