:root {
    --badge_border: black;
    --warning_icon: darkorange;
    --dark_blue: #132451;
    --light_blue: #0070cf;
    --default_font_family: "Rajdhani", "Open Sans", sans-serif;
    --bold_font_family: "Rajdhani SemiBold", "Rajdani Bold", "Open Sans", sans-serif;
    --generic_font_family: "Open Sans", sans-serif;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani/Rajdhani-Regular.ttf');
}

@font-face {
    font-family: 'Rajdhani Bold';
    src: url('../fonts/Rajdhani/Rajdhani-Bold.ttf');
}

@font-face {
    font-family: 'Rajdhani SemiBold';
    src: url('../fonts/Rajdhani/Rajdhani-SemiBold.ttf');
}

* {
    box-sizing: border-box;
}

.col-* {
    position: relative;
}

*,
p,
p span,
input {
    font-family: var(--generic_font_family);
}

h1, h2, h3, h4 {
    font-family: var(--bold_font_family);
}

/* Header Overrides */
/* when hovering over a nav item, desaturate all others */
.top-nav ul:hover a {
    color: #999999;
}
.top-nav ul a:hover {
    color: #332e1f;
}


.navbar-default .navbar-nav > li > a {
    font-size: 1.8rem;
    font-family: var(--bold_font_family);
}

  /******** Login PAGE ************/

div.login h2 {
    color: var(--light_blue);
}

/* CMS_PAGE OVERRIDES */

.cta-item .rich-text li a {
    font-family: var(--default_font_family) !important;
}

.cta-item a {
    color: #132451;
    font-weight: normal;
}

.cta-item a:hover,
.cta-item a:active,
.cta-item a:focus {
    color: #9ec73d;
    text-decoration: none;
}

.cta-item .title {
    border-bottom: #9ec73d 2px solid;
    font-family: var(--default_font_family);
    font-size: 1.2em;
    line-height: 1.75;
}
  
.cta-item-wrap[class*='text-'] * {
    color: inherit;
}

.cta-content h3 {
    font-size: 1.9rem;
}

#search-filter input {
    font-size: 15px;
}

.packery-container .cta-item p,
.packery-container .cta-content p {
    font-size: 1.3rem;
}

.tooltip.fade.right.in .tooltip-arrow {
    border-right-color: var(--badge_border);
}

.tooltip.fade.left.in .tooltip-arrow {
    border-left-color: var(--badge_border);
}

.tooltip.fade.top.in .tooltip-arrow {
    border-top-color: var(--badge_border);
}

.tooltip.fade.bottom.in .tooltip-arrow {
    border-bottom-color: var(--badge_border);
}

.tooltip-inner {
    background-color: var(--badge_border);
}

i.btn-user-gen {
    color: var(--warning_icon);
}

#user-content-notice {
    background-color: var(--dark_blue);
    opacity: 85%;
}

body.template-visualize #map-controls #linear-measurement:hover,
body.template-visualize #map-controls .quick-button:hover {
    border: 2px solid var(--light_blue);
    color: var(--light_blue);
}

body.template-visualize #left-panel a:hover {
    color: var(--light_blue);
}

div#user-content-notice a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

div#user-content-notice a:hover {
    color: var(--light_blue);
}

body.template-visualize #map-controls a.img-icon:hover img.quick-launch-icon, body.template-visualize #map-controls a.img-icon img.quick-launch-icon:hover {
    filter: invert(42%) sepia(73%) saturate(6481%) hue-rotate(192deg) brightness(91%) contrast(102%);
}

button.feedback-button.btn-warning {
    font-size: 1.3rem;
    letter-spacing: 0.02rem;
    font-weight: bold;
    line-height: 1.8rem;
}

.feedback-button,
.feedback-button.btn-warning,
button.feedback-button.btn-warning {
    border-color: rgba(117, 137, 155, 1);
    border-bottom: none;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0;
    color: #58585b;
    padding: 3px 12px 1px;
}