/* Header Overrides */
/* when hovering over a nav item, desaturate all others */
.top-nav ul:hover a {
    color: #999999;
  }
  .top-nav ul a:hover {
    color: #332e1f;
  }


/* CMS_PAGE OVERRIDES */

.cta-item .rich-text li a {
    font-family: PtMono,"Courier New",Courier,monospace !important;
}

.cta-item a {
    color: #132451;
    font-weight: normal;
}

.cta-item a:hover,
.cta-item a:active,
.cta-item a:focus {
    color: #9ec73d;
    text-decoration: none;
}

.cta-item .title {
    border-bottom: #9ec73d 2px solid;
    font-family: "PtMono", "Courier New", Courier, monospace;
    font-size: 1em;
    line-height: 1.75;
}
  
.cta-item-wrap[class*='text-'] * {
    color: inherit;
}