{% extends "wcoa/cms/base.html" %}
{% load static %}

{% block extra_css %}
  {{ block.super }}
  <link href="{% static '/mapgroups/assets/bootstrap-toggle-master/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
  <link href="{% static '/mapgroups/css/create_map_group_form.css' %}" rel="stylesheet">
{% endblock %}

{% block page_header %}
    <a class="btn btn-success" href="{% url 'mapgroups:list'%}">&larr; Groups</a>
{% endblock %}

{% block content %}

            <style>
            .login-form {
                margin-bottom: 1em;
            }
            .login-form > div {
                width: 30em;
                margin: 0 auto;
            }
            .login-form div + div {
                padding-top: 1ex;
            }
            .login-form .form-control {
                color: black;
            }
            .login-form .left-inner-addon { position: relative; }
            .login-form .left-inner-addon input { padding-left: 30px; }
            .login-form .left-inner-addon i {
                position: absolute; padding: 10px 12px; cursor: default;
            }
            </style>
<div style=" margin: 0 10em 1em 10em; padding: 0 3em">
    <h2 style="text-align: center;">Create a map group</h2>
    <div>
        <hr />
        <div class="group-form-disclaimer">
          <p><i>*Note: MARCO reserves the right to review and remove Groups and content shared within them due to inactivity, inappropriate content or other misuse.</i></p>
        </div>

        <form class="login-form" method="POST" enctype="multipart/form-data"">
            {% csrf_token %}
            <div class="form-horizontal">
                <div class="row">
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}" class="col-md-3">{{ form.name.label }}</label>
                        <div class="col-md-9">
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3"><label>Group Type</label></div>
                        <div class="col-md-9">
                                <input id="id_is_open" name="is_open"
                                    type="checkbox" checked="checked"
                                    data-toggle="toggle" data-on="Public"
                                    data-off="Private"
                                    data-onstyle="success"
                                    data-offstyle="danger">
                            {{ form.is_open.errors }}
                            <p>Tip: Anyone can join a public group. Group owners
                            approve private group membership requests.</p>
                        </div>
                        <label for="{{ form.is_open.id_for_label }}" class="col-md-9"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="{{ form.blurb.id_for_label }}" class="col-md-3" class="form-control">Description</label>
                        <div class="col-md-9">
                            {{ form.blurb }}
                            {{ form.blurb.errors }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="{{ form.image.id_for_label }}" class="col-md-3">{{ form.image.label }}</label>
                        <div class="col-md-9">
                            {{ form.image }}<br>
                            {{ form.image.errors }}
                            Tip: the best image sizes are 345x195 or larger.
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="text-right">
                    <label>
                        <button class="btn btn-success" type="submit">Create Group</button>
                    </label>
                </div>
            </div>
        </form>

        <hr>
        <div style="display:none">
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
  {{ block.super }}
  <script src="{% static '/mapgroups/assets/bootstrap-toggle-master/js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}
