COMPOSE_PROJECT_NAME=wcoa
BASE_TAG=latest

APP_PORT=8000
DB_PORT=5432

SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,::1
DB_ENGINE=django.contrib.gis.db.backends.postgis
DB_NAME=wcoa_docker_db
DB_USER=postgres
DB_PASSWORD=
REDIS_PASSWORD=

DB_INIT=0
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=
DJANGO_ENV=development
GUNICORN_WORKERS=3

RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
GA_ACCOUNT=
ARCGIS_API_KEY=

gpt_catalog_war=./wars/geoportal.war
gpt_harvester_war=./wars/harvester.war
gpt_frame_options=SAMEORIGIN
gpt_allowed_origin='"self" http://localhost:8000'
CLUSTER_NAME=wcoa-geoportal
ELASTIC_PASSWORD=
ES_REINDEX_REMOTE_WHITELIST=*.ecotrust.org:443,*.ecotrust.org:9200
