COMPOSE_PROJECT_NAME=wcoa
BASE_TAG=e58e280

APP_PORT=8000
DB_PORT=5432

SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,::1
DB_ENGINE=django.contrib.gis.db.backends.postgis
DB_NAME=wcoa_docker_db
DB_USER=postgres
DB_PASSWORD=
REDIS_PASSWORD=

DB_INIT=0
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=
DJANGO_ENV=development
GUNICORN_WORKERS=3

# Optional integrations
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
GA_ACCOUNT=
ARCGIS_API_KEY=

gpt_catalog_war=./wars/geoportal.war
gpt_harvester_war=./wars/harvester.war
gpt_frame_options=DENY
gpt_allowed_origin="localhost localhost:* *.westcoastoceans.org *.ecotrust.org 52.33.200.130"
gpt_admin_username=
gpt_admin_password=
gpt_publisher_username=
gpt_publisher_password=
gpt_user_username=
gpt_user_password=
gpt_esri_username=
gpt_esri_password=

CLUSTER_NAME=elasticsearch
ELASTIC_PASSWORD=
ES_REINDEX_REMOTE_WHITELIST="elastic.prod.wcoa.ecotrust.org:80"
ES_PORT=9200
ES_MEM_LIMIT=1073741824
ES_NODE=elastic