[Unit]
Description=Socket for uWSGI Emperor

[Socket]
# Change this to your uwsgi application port or unix socket location
ListenStream=/tmp/wcoa-socket

[Install]
WantedBy=sockets.target
