.accordion {
    margin-bottom: .5rem;
}
 
.accordion-items {
    /* border-top: 1px solid var(--black); */

}

.accordion-item {
    border: 1px solid var(--black);
    padding: 1rem;
}

.accordion-item-content {
    display: none;
    padding: 1rem;
}

.accordion-item .accordion-item-link {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    outline: 0;
    text-decoration: none;;
}

.accordion-item-heading {
    /* margin: 0; */
}

.accordion-item.is-open {

}

.accordion-item-icon {
    font-size: 1em;
    text-decoration: none;
}

.accordion-item-icon-close {
    display: none;
}

.accordion-item-icon-open {
    display: block;
}

.accordion-item.is-open .accordion-item-content,
.accordion-item.is-open .accordion-item-icon-close {
    display: block;
}

.accordion-item.is-open .accordion-item-icon-open {
    display: none;
}