$primaryColor: #262626;
$secondaryColor: #BABA27;
$ctaColor: #0070cf; // call to action. links, buttons, etc.
$textColor: #58585b;

body.template-visualize {

  header + div {
    padding-top: 0;
  }

  #left-panel-project-logo {
    display: none;
  }

  #primary-content {
    height: calc(100vh - 100px);
  }

  .search-box {
    background: transparent;
    font-size: 1em;
  }

  #left-panel {

    a {
      color: $primaryColor;

      &:hover {
        color: darken($primaryColor, 1.2);
      }
    }

    form.form-search div {
      margin: 5px;
    }

    .panel-body {
      top: 58px;
    }

  }

  .sidebar-nav {

    .tab-content,
    #data-accordion {
      background: transparent;
    }

    .nav-tabs {

      > li {
        &.active {

          a {
            border-bottom: $ctaColor;
            color: $ctaColor;

            .count,
            &:hover,
            &:focus {
              color: $ctaColor;
            }
          }
        }
      }
    }
  }

  .open > .dropdown-menu {
    border-top: none;
    box-shadow: none;
    position: relative;
  }

  #map-controls {
    top: 20px;

    .btn-group {
      background: rgba(255,255,255,0.4);
      padding: 3px;
    }

    #get-link-button {
      border: 1px solid $textColor;
      border-radius: 0;
      height: 30px;
      line-height: 30px;
      margin: 0;
      right: 0;
      padding: 0;
      width: 30px;
    }
  }

  #map {

    .ol-zoom {
      bottom: auto;
      left: auto;
      right: 32px;
      top: 72px;
    }
  }
}

.tooltip-inner {
  background-color: $primaryColor
}
